//Extra large devices (large laptops and desktops, 1200px and up)
@media only screen and (min-width: 1200px) {}

//Large devices (Laptops, Desktops 992px and up)
@media (min-width: 992px) and (max-width: 1200px) {

    //main text
    .main {

        //hero text
        .hero_text {

            h3 {
                line-height: 7rem !important;
                font-size: 4.8rem !important;
            }

            .footer {
                ul {
                    position: fixed;
                    bottom: 10px;
                    left: 0;
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    padding: 0 35px;
                }
            }

            h3:first-child {
                margin-left: 10px !important;
            }
        }
    }

    //sidebar
    .c-scrollbar {
        display: none;
    }

    //cursor
    .cursor,
    .cursor-2 {
        display: none !important;
    }

    //indicator
    .btn-down {
        display: none;
    }

    //preloader
    .preloader {

        &::before {
            font-size: 3rem !important;
            font-weight: 400;
        }

        //counter
        .counter {
            font-size: 2.9rem;

            &::after {
                font-size: 2.2rem;
            }
        }
    }
}


//Medium devices (lanscapes tablets, 768px and up)
@media (min-width: 768px) and (max-width: 992px) {

    //main text
    .main {

        //hero text
        .hero_text {

            h3 {
                line-height: 6.8rem !important;
                font-size: 4.5rem !important;
            }

            .footer {
                ul {
                    position: fixed;
                    bottom: 10px;
                    left: 0;
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    padding: 0 30px;
                }
            }

            h3:first-child {
                margin-left: 10px !important;
            }
        }
    }

    //sidebar
    .c-scrollbar {
        display: none;
    }

    //cursor
    .cursor,
    .cursor-2 {
        display: none !important;
    }

    //indicator
    .btn-down {
        display: none;
    }

    //preloader
    .preloader {

        &::before {
            font-size: 3rem !important;
            font-weight: 400;
        }

        //counter
        .counter {
            font-size: 2.9rem;

            &::after {
                font-size: 2.2rem;
            }
        }
    }

}



// Extra small devices (phones, 600px and down)
@media (max-width:600px) {

    //main text
    .main {
        // min-height: 80vh;

        //hero text
        .hero_text {
            display: flex;
            flex-direction: column;
            justify-content: start;
            height: 15rem;
            padding-top: 10rem;

            h3 {
                line-height: 4rem !important;
                font-size: 2.5rem !important;
            }

            .footer {
                ul {
                    gap: 35px;
                    position: fixed;
                    bottom: 10px;
                    left: 35px;
                }
            }

            h3:first-child {
                margin-left: 10px !important;
            }
        }
    }

    //sidebar
    .c-scrollbar {
        display: none;
    }

    //cursor
    .cursor,
    .cursor-2 {
        display: none;
    }

    //indicator
    .btn-down {
        display: none;
    }

    //preloader
    .preloader {

        &::before {
            font-size: 2rem;
            font-weight: 400;
        }

        //counter
        .counter {
            font-size: 2rem;

            &::after {
                font-size: 1.9rem;
            }
        }
    }
}

//Small devices (portrait tablets and large phones, 600px and up)
@media (min-width: 600px) and (max-width: 768px) {

    //main text
    .main {
        // min-height: 80vh;

        //hero text
        .hero_text {
            display: flex;
            flex-direction: column;
            justify-content: start;
            height: 15rem;
            padding-top: 10rem;

            h3 {
                line-height: 4.8rem !important;
                font-size: 4.5rem !important;
            }

            .footer {
                ul {
                    position: fixed;
                    bottom: 10px;
                    left: 0;
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    padding: 0 10px;
                }
            }

            h3:first-child {
                margin-left: 10px !important;
            }
        }
    }

    //sidebar
    .c-scrollbar {
        display: none;
    }

    //cursor
    .cursor,
    .cursor-2 {
        display: none !important;
    }

    //indicator
    .btn-down {
        display: none;
    }

    //preloader
    .preloader {

        &::before {
            font-size: 3rem !important;
            font-weight: 400;
        }

        //counter
        .counter {
            font-size: 2.9rem;

            &::after {
                font-size: 2.2rem;
            }
        }
    }

}



//Smart phones (480px and down)
@media (min-width: 440px) and (max-width: 480px) {

    //main text
    .main {
        // min-height: 80vh;

        //hero text
        .hero_text {
            display: flex;
            flex-direction: column;
            justify-content: start;
            height: 15rem;
            padding-top: 10rem;

            h3 {
                line-height: 4rem !important;
                font-size: 2.5rem !important;
            }

            .footer {
                ul {
                    gap: 35px;
                    position: fixed;
                    bottom: 10px;
                    left: 35px;
                }
            }

            h3:first-child {
                margin-left: 10px !important;
            }
        }
    }



    //sidebar
    .c-scrollbar {
        display: none;
    }

    //cursor
    .cursor,
    .cursor-2 {
        display: none !important;
    }

    //indicator
    .btn-down {
        display: none;
    }

    //preloader
    .preloader {

        &::before {
            font-size: 2.5rem;
            font-weight: 400;
        }

        //counter
        .counter {
            font-size: 1.8rem;

            &::after {
                font-size: 1.5rem;
            }
        }
    }
}

//Smart phones (440px and down)
@media (min-width: 420px) and (max-width: 440px) {

    //main text
    .main {
        padding: 40px 20px;

        //hero text
        .hero_text {
            justify-content: start;
            padding-top: 5rem;

            h3 {
                line-height: 3.8rem !important;
                font-size: 2.2rem !important;
            }

            .footer {
                ul {
                    gap: 30px;
                    bottom: 10px;
                    left: 30px;
                }
            }

            h3:first-child {
                margin-left: 8px !important;
            }
        }
    }

    //about
    .about_section {
        &::before {
            top: 80%;
            left: 50%;
            font-size: 5rem;
        }

        .about_parent {
            grid-template-columns: repeat(1, 1fr);

            .intro {
                font-size: 1rem;
                font-weight: 300;
                line-height: 30px;
                letter-spacing: 5.5px;
                margin-bottom: 3rem;

                .leftText {
                    p:last-child {
                        text-align: left;
                    }
                }
            }

            .myskills {
                .skills_animate {
                    width: 350px;
                    height: 480px;

                    svg {
                        height: 430px;

                        rect {
                            width: 330px;
                            height: 430px;
                        }

                        a {
                            text {
                                font-size: .9rem;
                            }
                        }
                    }
                }
            }
        }

    }

    //preloader
    .btn-down {
        display: none !important;
    }

    .preloader {

        &::before {
            font-size: 2.8rem;
            font-weight: 400;
        }

        //counter
        .counter {
            font-size: 2rem;

            &::after {
                font-size: 1.8rem;
            }
        }
    }

}

//Smart phones (420px and down)
@media (min-width: 380px) and (max-width: 420px) {

    //main text
    .main {

        padding: 40px 20px;

        .header {
            .navbar {
                .container {
                    .navbar_links {
                        a {
                            font-size: 1rem;
                        }
                    }
                }
            }
        }


        //hero text
        .hero_text {
            padding-top: 5rem;

            h3 {
                line-height: 6rem !important;
                font-size: 3.3rem !important;
            }

            .footer {
                ul {
                    gap: 15px;
                    bottom: 10px;
                    left: 18px;

                    li {
                        a {
                            font-size: 1.1rem;
                        }
                    }
                }
            }

            h3:first-child {
                margin-left: 8px !important;
            }
        }
    }

    //about
    .about_section {
        &::before {
            top: 80%;
            left: 50%;
            font-size: 4rem;
        }

        .about_parent {
            grid-template-columns: repeat(1, 1fr);

            .intro {
                font-size: .9rem;
                font-weight: 300;
                line-height: 30px;
                letter-spacing: 5.5px;
                margin-bottom: 3rem;

                .leftText {
                    p:last-child {
                        text-align: left;
                    }
                }
            }

            .myskills {
                .skills_animate {
                    width: 350px;
                    height: 480px;

                    svg {
                        height: 430px;

                        rect {
                            width: 330px;
                            height: 430px;
                        }

                        a {
                            text {
                                font-size: .9rem;
                            }
                        }
                    }
                }
            }
        }

    }


    //preloader
    .btn-down {
        display: none !important;
    }

    .preloader {

        &::before {
            font-size: 3.5rem;
            font-weight: 400;
        }

        //counter
        .counter {
            font-size: 2.2rem;

            &::after {
                font-size: 1.8rem;
            }
        }
    }
}

//Smart phones (360px and down)
@media screen and (max-width: 380px) {

    //main text
    .main {

        padding: 40px 20px;

        .header {
            .navbar {
                .container {
                    .navbar-brand {
                        .logo {
                            font-size: 1.2rem;
                        }
                    }

                    .navbar_links {
                        a {
                            font-size: .9rem;

                            &:nth-last-child(1) {
                                margin-left: 1rem;
                            }
                        }
                    }
                }
            }
        }


        //hero text
        .hero_text {
            padding-top: 4rem;

            h3 {
                line-height: 4.8rem !important;
                font-size: 2.7rem !important;
            }

            .footer {
                ul {
                    gap: 10px;
                    bottom: 10px;
                    display: flex;
                    justify-content: space-evenly;
                    width: 100%;
                    left: 5px;

                    li {
                        a {
                            font-size: .9rem;
                        }
                    }
                }
            }

            h3:first-child {
                margin-left: 8px !important;
            }
        }
    }

    //about
    .about_section {
        &::before {
            top: 80%;
            left: 50%;
            font-size: 4rem;
        }

        .about_parent {
            grid-template-columns: repeat(1, 1fr);

            .intro {
                font-size: .9rem;
                font-weight: 300;
                line-height: 30px;
                letter-spacing: 5.5px;
                margin-bottom: 3rem;

                .leftText {
                    p:last-child {
                        text-align: left;
                    }
                }
            }

            .myskills {
                .skills_animate {
                    width: 320px;
                    height: 480px;

                    svg {
                        height: 430px;

                        rect {
                            width: 320px;
                            height: 430px;
                        }

                        a {
                            text {
                                font-size: .9rem;
                            }
                        }
                    }
                }
            }
        }

    }



    //preloader
    .btn-down {
        display: none !important;
    }

    .preloader {

        &::before {
            font-size: 2rem;
            font-weight: 400;
        }

        //counter
        .counter {
            font-size: 1.5rem;

            &::after {
                font-size: 1.3rem;
            }
        }
    }
}
