//Extra large devices (large laptops and desktops, 1200px and up)
@media only screen and (min-width: 1200px) {}

//Large devices (Laptops, Desktops 992px and up)
@media (min-width: 992px) and (max-width: 1200px) {

    //main text
    .main {

        //hero text
        .hero_text {

            .designerText {
                span {
                    opacity: 0;
                    transition: all 0.3s ease;
                }

                span.fade {
                    opacity: 1;
                }

                span:nth-child(7),
                span:nth-child(8),
                span:nth-child(9),
                span:nth-child(10),
                span:nth-child(11),
                span:nth-child(12),
                span:nth-child(13),
                span:nth-child(14),
                span:nth-child(15) {
                    color: #14ff2bd2;
                }
            }

            .developerText {
                span {
                    opacity: 0;
                    transition: all .7s ease;
                }

                span.fade {
                    opacity: 1;
                }

                span:nth-child(1),
                span:nth-child(2),
                span:nth-child(3),
                span:nth-child(4),
                span:nth-child(5),
                span:nth-child(6),
                span:nth-child(7) {
                    color: transparent;
                }

                span:nth-child(8),
                span:nth-child(9),
                span:nth-child(10),
                span:nth-child(11),
                span:nth-child(12),
                span:nth-child(13),
                span:nth-child(14),
                span:nth-child(15),
                span:nth-child(16),
                span:nth-child(17),
                span:nth-child(18) {
                    color: #14ff2bd2;
                }

            }


            h3 {
                line-height: 7rem !important;
                font-size: 4.8rem !important;
                text-shadow: 0 2px 2px #010000;
            }

            .footer {
                ul {
                    position: fixed;
                    bottom: 10px;
                    left: 0;
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    padding: 0 35px;
                }
            }

            h3:first-child {
                margin-left: 10px !important;
            }
        }
    }

    //sidebar
    .c-scrollbar {
        display: none;
    }

    //cursor
    .cursor,
    .cursor-2 {
        display: none !important;
    }

    //indicator
    .btn-down {
        display: none !important;
    }

    //preloader
    .preloader {

        &::before {
            font-size: 3rem !important;
            font-weight: 400;
        }

        //counter
        .counter {
            font-size: 2.9rem;

            &::after {
                font-size: 2.2rem;
            }
        }
    }
}


//Medium devices (lanscapes tablets, 768px and up)
@media (min-width: 768px) and (max-width: 992px) {

    //main text
    .main {

        .header {
            .navbar {
                .container {

                    .navbar-brand {
                        .logo {
                            font-size: 2.2rem;
                            color: #013100;

                            .green {
                                color: #FFF;
                            }
                        }
                    }

                    .navbar_links {
                        a {
                            font-size: 1.4rem;
                            color: #001800;

                            &:nth-last-child(1) {
                                margin-left: 1rem;
                            }
                        }

                        a.active {
                            &::before {
                                background-color: #013100;
                                color: #001800;
                                top: 35px;
                                width: 70px;
                            }
                        }


                    }

                }
            }
        }


        //hero text
        .hero_text {
            padding-top: 2rem;

            .designerText {
                span {
                    opacity: 0;
                    transition: all 0.3s ease;
                }

                span.fade {
                    opacity: 1;
                }

                span:nth-child(7),
                span:nth-child(8),
                span:nth-child(9),
                span:nth-child(10),
                span:nth-child(11),
                span:nth-child(12),
                span:nth-child(13),
                span:nth-child(14),
                span:nth-child(15) {
                    color: #14ff2bd2;
                }
            }

            .developerText {
                span {
                    opacity: 0;
                    transition: all .7s ease;
                }

                span.fade {
                    opacity: 1;
                }

                span:nth-child(1),
                span:nth-child(2),
                span:nth-child(3),
                span:nth-child(4),
                span:nth-child(5),
                span:nth-child(6),
                span:nth-child(7) {
                    color: transparent;
                }

                span:nth-child(8),
                span:nth-child(9),
                span:nth-child(10),
                span:nth-child(11),
                span:nth-child(12),
                span:nth-child(13),
                span:nth-child(14),
                span:nth-child(15),
                span:nth-child(16),
                span:nth-child(17),
                span:nth-child(18) {
                    color: #14ff2bd2;
                }

            }

            h3 {
                line-height: 6.8rem !important;
                font-size: 4.5rem !important;
                text-shadow: 0 2px 2px #010000;
            }

            .footer {
                ul {
                    position: fixed;
                    bottom: 10px;
                    left: 0;
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    padding: 0 30px;
                }
            }

            h3:first-child {
                margin-left: 10px !important;
            }
        }
    }

    //about
    .about_section {
        &::before {
            top: 80%;
            left: 50%;
            font-size: 7rem;
        }

        .about_parent {
            grid-template-columns: repeat(1, 1fr);

            .intro {
                font-size: 1.7rem;
                font-weight: 300;
                line-height: 40px;
                letter-spacing: 5.5px;
                margin-bottom: 3rem;

                background: rgba(0, 0, 0, 0.55);
                text-shadow: 0 2px 2px #010000;
                color: #15E587;

                p {
                    text-align: left;
                    letter-spacing: 4px;
                }

                .leftText {
                    padding: 6px;
                }

                .rightText {
                    padding: 6px;
                }
            }

            .myskills {
                .skills_animate {
                    width: 600px;
                    height: 480px;

                    svg {
                        height: 430px;

                        rect {
                            width: 480px;
                            height: 430px;
                        }

                        a {
                            text {
                                font-size: 1.2rem;
                            }
                        }
                    }
                }
            }
        }

    }


    //sidebar
    .c-scrollbar {
        display: none;
    }

    //cursor
    .cursor,
    .cursor-2 {
        display: none !important;
    }

    //indicator
    .btn-down {
        display: none !important;
    }

    //preloader
    .preloader {

        &::before {
            font-size: 3rem !important;
            font-weight: 400;
        }

        //counter
        .counter {
            font-size: 2.9rem;

            &::after {
                font-size: 2.2rem;
            }
        }
    }

}



// Extra small devices (phones, 600px and down)
@media (max-width:600px) {

    //main text
    .main {
        padding: 40px 20px;

        .header {
            .navbar {
                .container {

                    .navbar-brand {
                        .logo {
                            font-size: 2.2rem;
                            color: #013100;

                            .green {
                                color: #FFF;
                            }
                        }
                    }

                    .navbar_links {
                        a {
                            font-size: 1.1rem;
                            color: #001800;



                            &:nth-last-child(1) {
                                margin-left: 1rem;
                            }
                        }

                        a.active {
                            &::before {
                                background-color: #013100;
                                color: #001800;
                                top: 25px;
                                width: 55px;
                            }
                        }
                    }

                }
            }
        }



        //hero text
        .hero_text {
            display: flex;
            flex-direction: column;
            justify-content: start;
            height: 15rem;
            padding-top: 10rem;

            .designerText {
                span {
                    opacity: 0;
                    transition: all 0.3s ease;
                }

                span.fade {
                    opacity: 1;
                }

                span:nth-child(7),
                span:nth-child(8),
                span:nth-child(9),
                span:nth-child(10),
                span:nth-child(11),
                span:nth-child(12),
                span:nth-child(13),
                span:nth-child(14),
                span:nth-child(15) {
                    color: #14ff2bd2;
                }
            }

            .developerText {
                span {
                    opacity: 0;
                    transition: all .7s ease;
                }

                span.fade {
                    opacity: 1;
                }

                span:nth-child(1),
                span:nth-child(2),
                span:nth-child(3),
                span:nth-child(4),
                span:nth-child(5),
                span:nth-child(6),
                span:nth-child(7) {
                    color: transparent;
                }

                span:nth-child(8),
                span:nth-child(9),
                span:nth-child(10),
                span:nth-child(11),
                span:nth-child(12),
                span:nth-child(13),
                span:nth-child(14),
                span:nth-child(15),
                span:nth-child(16),
                span:nth-child(17),
                span:nth-child(18) {
                    color: #14ff2bd2;
                }

            }


            h3 {
                line-height: 4rem !important;
                font-size: 2.5rem !important;
                text-shadow: 0 2px 2px #010000;
            }

            .footer {
                ul {
                    gap: 60px;
                    position: fixed;
                    bottom: 10px;
                    left: 20px;
                }
            }

            h3:first-child {
                margin-left: 10px !important;
            }
        }
    }

    //about
    .about_section {
        &::before {
            top: 80%;
            left: 50%;
            font-size: 7rem;
        }

        .about_parent {
            grid-template-columns: repeat(1, 1fr);

            .intro {
                font-size: 1rem;
                font-weight: 300;
                line-height: 30px;
                letter-spacing: 5.5px;
                margin-bottom: 3rem;

                background: rgba(0, 0, 0, 0.55);
                text-shadow: 0 2px 2px #010000;
                color: #15E587;

                p {
                    text-align: left;
                    letter-spacing: 4px;
                }

                .leftText {
                    padding: 6px;
                }

                .rightText {
                    padding: 6px;
                }
            }

            .myskills {
                .skills_animate {
                    width: 410px;
                    height: 480px;

                    svg {
                        height: 430px;

                        rect {
                            width: 410px;
                            height: 430px;
                        }

                        a {
                            text {
                                font-size: .9rem;
                            }
                        }
                    }
                }
            }
        }

    }


    //sidebar
    .c-scrollbar {
        display: none;
    }

    //cursor
    .cursor,
    .cursor-2 {
        display: none;
    }

    //indicator
    .btn-down {
        display: none !important;
    }

    //preloader
    .preloader {

        &::before {
            font-size: 2rem;
            font-weight: 400;
        }

        //counter
        .counter {
            font-size: 2rem;

            &::after {
                font-size: 1.9rem;
            }
        }
    }
}

//Small devices (portrait tablets and large phones, 600px and up)
@media (min-width: 600px) and (max-width: 768px) {

    //main text
    .main {

        // min-height: 80vh;
        .header {
            .navbar {
                .container {

                    .navbar-brand {
                        .logo {
                            font-size: 2.2rem;
                            color: #013100;

                            .green {
                                color: #FFF;
                            }
                        }
                    }

                    .navbar_links {
                        a {
                            font-size: 1.4rem;
                            color: #001800;

                            &:nth-last-child(1) {
                                margin-left: 1rem;
                            }
                        }

                        a.active {
                            &::before {
                                background-color: #013100;
                                color: #001800;
                                top: 35px;
                                width: 70px;
                            }
                        }
                    }

                }
            }
        }

        //hero text
        .hero_text {
            display: flex;
            flex-direction: column;
            justify-content: start;
            height: 15rem;
            padding-top: 10rem;

            .designerText {
                span {
                    opacity: 0;
                    transition: all 0.3s ease;
                }

                span.fade {
                    opacity: 1;
                }

                span:nth-child(7),
                span:nth-child(8),
                span:nth-child(9),
                span:nth-child(10),
                span:nth-child(11),
                span:nth-child(12),
                span:nth-child(13),
                span:nth-child(14),
                span:nth-child(15) {
                    color: #14ff2bd2;
                }
            }

            .developerText {
                span {
                    opacity: 0;
                    transition: all .7s ease;
                }

                span.fade {
                    opacity: 1;
                }

                span:nth-child(1),
                span:nth-child(2),
                span:nth-child(3),
                span:nth-child(4),
                span:nth-child(5),
                span:nth-child(6),
                span:nth-child(7) {
                    color: transparent;
                }

                span:nth-child(8),
                span:nth-child(9),
                span:nth-child(10),
                span:nth-child(11),
                span:nth-child(12),
                span:nth-child(13),
                span:nth-child(14),
                span:nth-child(15),
                span:nth-child(16),
                span:nth-child(17),
                span:nth-child(18) {
                    color: #14ff2bd2;
                }

            }

            h3 {
                line-height: 4.8rem !important;
                font-size: 4.5rem !important;
                text-shadow: 0 2px 2px #010000;
            }

            .footer {
                ul {
                    position: fixed;
                    bottom: 10px;
                    left: 0;
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    padding: 0 10px;
                }
            }

            h3:first-child {
                margin-left: 10px !important;
            }
        }
    }

    //about
    .about_section {
        &::before {
            top: 80%;
            left: 50%;
            font-size: 7rem;
        }

        .about_parent {
            grid-template-columns: repeat(1, 1fr);

            .intro {
                font-size: 1.4rem;
                font-weight: 300;
                line-height: 30px;
                letter-spacing: 5.5px;
                margin-bottom: 3rem;
                background: rgba(0, 0, 0, 0.55);
                text-shadow: 0 2px 2px #010000;
                color: #15E587;

                p {
                    text-align: left;
                    letter-spacing: 4px;
                }

                .leftText {
                    padding: 6px;
                }

                .rightText {
                    padding: 6px;
                }
            }

            .myskills {
                .skills_animate {
                    width: 450px;
                    height: 480px;

                    svg {
                        height: 430px;

                        rect {
                            width: 450px;
                            height: 430px;
                        }

                        a {
                            text {
                                font-size: .9rem;
                            }
                        }
                    }
                }
            }
        }

    }



    //sidebar
    .c-scrollbar {
        display: none;
    }

    //cursor
    .cursor,
    .cursor-2 {
        display: none !important;
    }

    //indicator
    .btn-down {
        display: none !important;
    }

    //preloader
    .preloader {

        &::before {
            font-size: 3rem !important;
            font-weight: 400;
        }

        //counter
        .counter {
            font-size: 2.9rem;

            &::after {
                font-size: 2.2rem;
            }
        }
    }

}



//Smart phones (480px and down)
@media (min-width: 440px) and (max-width: 480px) {

    //main text
    .main {
        padding: 40px 20px;

        .header {
            .navbar {
                .container {

                    .navbar-brand {
                        .logo {
                            font-size: 2rem;
                            color: #013100;

                            .green {
                                color: #FFF;
                            }
                        }
                    }

                    .navbar_links {
                        a {
                            font-size: 1.1rem;
                            color: #001800;



                            &:nth-last-child(1) {
                                margin-left: 1rem;
                            }
                        }

                        a.active {
                            &::before {
                                background-color: #013100;
                                color: #001800;
                            }
                        }
                    }

                }
            }
        }

        //hero text
        .hero_text {
            display: flex;
            flex-direction: column;
            justify-content: start;
            height: 15rem;
            padding-top: 10rem;

            .designerText {
                span {
                    opacity: 0;
                    transition: all 0.3s ease;
                }

                span.fade {
                    opacity: 1;
                }

                span:nth-child(7),
                span:nth-child(8),
                span:nth-child(9),
                span:nth-child(10),
                span:nth-child(11),
                span:nth-child(12),
                span:nth-child(13),
                span:nth-child(14),
                span:nth-child(15) {
                    color: #14ff2bd2;
                }
            }

            .developerText {
                span {
                    opacity: 0;
                    transition: all .7s ease;
                }

                span.fade {
                    opacity: 1;
                }

                span:nth-child(1),
                span:nth-child(2),
                span:nth-child(3),
                span:nth-child(4),
                span:nth-child(5),
                span:nth-child(6),
                span:nth-child(7) {
                    color: transparent;
                }

                span:nth-child(8),
                span:nth-child(9),
                span:nth-child(10),
                span:nth-child(11),
                span:nth-child(12),
                span:nth-child(13),
                span:nth-child(14),
                span:nth-child(15),
                span:nth-child(16),
                span:nth-child(17),
                span:nth-child(18) {
                    color: #14ff2bd2;
                }

            }


            h3 {
                line-height: 4rem !important;
                font-size: 2.5rem !important;
                text-shadow: 0 2px 2px #010000;
            }

            .footer {
                ul {
                    gap: 40px;
                    position: fixed;
                    bottom: 10px;
                    left: 35px;
                }
            }

            h3:first-child {
                margin-left: 10px !important;
            }
        }
    }

    //about
    .about_section {
        &::before {
            top: 80%;
            left: 50%;
            font-size: 5rem;
        }

        .about_parent {
            grid-template-columns: repeat(1, 1fr);

            .intro {
                font-size: 1rem;
                font-weight: 300;
                line-height: 30px;
                letter-spacing: 5.5px;
                margin-bottom: 3rem;
                background: rgba(0, 0, 0, 0.55);
                text-shadow: 0 2px 2px #010000;
                color: #15E587;

                p {
                    text-align: left;
                    letter-spacing: 4px;
                }

                .leftText {
                    padding: 6px;
                }

                .rightText {
                    padding: 6px;
                }
            }

            .myskills {
                .skills_animate {
                    width: 350px;
                    height: 480px;

                    svg {
                        height: 430px;

                        rect {
                            width: 330px;
                            height: 430px;
                        }

                        a {
                            text {
                                font-size: .9rem;
                            }
                        }
                    }
                }
            }
        }

    }


    //sidebar
    .c-scrollbar {
        display: none;
    }

    //cursor
    .cursor,
    .cursor-2 {
        display: none !important;
    }

    //indicator
    .btn-down {
        display: none !important;
    }

    //preloader
    .preloader {

        &::before {
            font-size: 2.5rem;
            font-weight: 400;
        }

        //counter
        .counter {
            font-size: 1.8rem;

            &::after {
                font-size: 1.5rem;
            }
        }
    }
}

//Smart phones (440px and down)
@media (min-width: 420px) and (max-width: 440px) {

    //main text
    .main {
        padding: 40px 20px;

        .header {
            .navbar {
                .container {

                    .navbar-brand {
                        .logo {
                            font-size: 1.8rem;
                            color: #013100;

                            .green {
                                color: #FFF;
                            }
                        }
                    }

                    .navbar_links {
                        a {
                            font-size: 1.1rem;
                            color: #001800;



                            &:nth-last-child(1) {
                                margin-left: 1rem;
                            }
                        }

                        a.active {
                            &::before {
                                background-color: #013100;
                                color: #001800;
                            }
                        }
                    }

                }
            }
        }

        //hero text
        .hero_text {
            justify-content: start;
            padding-top: 5rem;

            .designerText {
                span {
                    opacity: 0;
                    transition: all 0.3s ease;
                }

                span.fade {
                    opacity: 1;
                }

                span:nth-child(7),
                span:nth-child(8),
                span:nth-child(9),
                span:nth-child(10),
                span:nth-child(11),
                span:nth-child(12),
                span:nth-child(13),
                span:nth-child(14),
                span:nth-child(15) {
                    color: #14ff2bd2;
                }
            }

            .developerText {
                span {
                    opacity: 0;
                    transition: all .7s ease;
                }

                span.fade {
                    opacity: 1;
                }

                span:nth-child(1),
                span:nth-child(2),
                span:nth-child(3),
                span:nth-child(4),
                span:nth-child(5),
                span:nth-child(6),
                span:nth-child(7) {
                    color: transparent;
                }

                span:nth-child(8),
                span:nth-child(9),
                span:nth-child(10),
                span:nth-child(11),
                span:nth-child(12),
                span:nth-child(13),
                span:nth-child(14),
                span:nth-child(15),
                span:nth-child(16),
                span:nth-child(17),
                span:nth-child(18) {
                    color: #14ff2bd2;
                }

            }

            h3 {
                line-height: 3.8rem !important;
                font-size: 2.2rem !important;
                text-shadow: 0 2px 2px #010000;
            }

            .footer {
                ul {
                    gap: 30px;
                    bottom: 10px;
                    left: 30px;
                }
            }

            h3:first-child {
                margin-left: 8px !important;
            }
        }
    }

    //about
    .about_section {
        &::before {
            top: 80%;
            left: 50%;
            font-size: 5rem;
        }

        .about_parent {
            grid-template-columns: repeat(1, 1fr);

            .intro {
                font-size: 1rem;
                font-weight: 300;
                line-height: 30px;
                letter-spacing: 5.5px;
                margin-bottom: 3rem;
                background: rgba(0, 0, 0, 0.55);
                text-shadow: 0 2px 2px #010000;
                color: #15E587;

                p {
                    text-align: left;
                    letter-spacing: 4px;
                }

                .leftText {
                    padding: 6px;
                }

                .rightText {
                    padding: 6px;
                }
            }

            .myskills {
                .skills_animate {
                    width: 350px;
                    height: 480px;

                    svg {
                        height: 430px;

                        rect {
                            width: 330px;
                            height: 430px;
                        }

                        a {
                            text {
                                font-size: .9rem;
                            }
                        }
                    }
                }
            }
        }

    }

    //preloader
    .btn-down {
        display: none !important;
    }

    .preloader {

        &::before {
            font-size: 2.8rem;
            font-weight: 400;
        }

        //counter
        .counter {
            font-size: 2rem;

            &::after {
                font-size: 1.8rem;
            }
        }
    }

}

//Smart phones (420px and down)
@media (min-width: 380px) and (max-width: 420px) {

    //main text
    .main {

        padding: 40px 20px;

        .header {
            .navbar {
                .container {

                    .navbar-brand {
                        .logo {
                            font-size: 1.7rem;
                            color: #013100;

                            .green {
                                color: #FFF;
                            }
                        }
                    }

                    .navbar_links {
                        a {
                            font-size: 1rem;
                            color: #001800;



                            &:nth-last-child(1) {
                                margin-left: 1rem;
                            }
                        }

                        a.active {
                            &::before {
                                background-color: #013100;
                                color: #001800;
                            }
                        }
                    }

                }
            }
        }


        //hero text
        .hero_text {
            padding-top: 5rem;

            .designerText {
                span {
                    opacity: 0;
                    transition: all 0.3s ease;
                }

                span.fade {
                    opacity: 1;
                }

                span:nth-child(7),
                span:nth-child(8),
                span:nth-child(9),
                span:nth-child(10),
                span:nth-child(11),
                span:nth-child(12),
                span:nth-child(13),
                span:nth-child(14),
                span:nth-child(15) {
                    color: #14ff2bd2;
                }
            }

            .developerText {
                span {
                    opacity: 0;
                    transition: all .7s ease;
                }

                span.fade {
                    opacity: 1;
                }

                span:nth-child(1),
                span:nth-child(2),
                span:nth-child(3),
                span:nth-child(4),
                span:nth-child(5),
                span:nth-child(6),
                span:nth-child(7) {
                    color: transparent;
                }

                span:nth-child(8),
                span:nth-child(9),
                span:nth-child(10),
                span:nth-child(11),
                span:nth-child(12),
                span:nth-child(13),
                span:nth-child(14),
                span:nth-child(15),
                span:nth-child(16),
                span:nth-child(17),
                span:nth-child(18) {
                    color: #14ff2bd2;
                }

            }



            h3 {
                line-height: 6rem !important;
                font-size: 3.3rem !important;
                text-shadow: 0 2px 2px #010000;
            }

            .footer {
                ul {
                    gap: 13px;
                    bottom: 10px;
                    left: 18px;

                    li {
                        a {
                            font-size: 1.1rem;
                        }
                    }
                }
            }

            h3:first-child {
                margin-left: 8px !important;
            }
        }
    }

    //about
    .about_section {
        &::before {
            top: 80%;
            left: 50%;
            font-size: 4rem;
        }

        .about_parent {
            grid-template-columns: repeat(1, 1fr);

            .intro {
                font-size: 1rem;
                font-weight: 300;
                line-height: 30px;
                letter-spacing: 5.5px;
                margin-bottom: 3rem;
                background: rgba(0, 0, 0, 0.55);
                text-shadow: 0 2px 2px #010000;
                color: #15E587;

                p {
                    text-align: left;
                    letter-spacing: 4px;
                }

                .leftText {
                    padding: 6px;
                }

                .rightText {
                    padding: 6px;
                }
            }

            .myskills {
                .skills_animate {
                    width: 350px;
                    height: 480px;

                    svg {
                        height: 430px;

                        rect {
                            width: 330px;
                            height: 430px;
                        }

                        a {
                            text {
                                font-size: .9rem;
                            }
                        }
                    }
                }
            }
        }

    }


    //preloader
    .btn-down {
        display: none !important;
    }

    .preloader {

        &::before {
            font-size: 3.5rem;
            font-weight: 400;
        }

        //counter
        .counter {
            font-size: 2.2rem;

            &::after {
                font-size: 1.8rem;
            }
        }
    }
}

//Smart phones (360px and down)
@media screen and (max-width: 380px) {

    //main text
    .main {

        padding: 40px 20px;

        .header {
            .navbar {
                .container {
                    .navbar-brand {
                        .logo {
                            font-size: 1.5rem;
                            color: #013100;

                            .green {
                                color: #FFF;
                            }
                        }
                    }

                    .navbar_links {
                        a {
                            font-size: .9rem;
                            color: #001800;



                            &:nth-last-child(1) {
                                margin-left: 1rem;
                            }
                        }

                        a.active {
                            &::before {
                                background-color: #013100;
                                color: #001800;
                            }
                        }
                    }
                }
            }
        }


        //hero text
        .hero_text {
            padding-top: 4rem;

            .designerText {
                span {
                    opacity: 0;
                    transition: all 0.3s ease;
                }

                span.fade {
                    opacity: 1;
                }

                span:nth-child(7),
                span:nth-child(8),
                span:nth-child(9),
                span:nth-child(10),
                span:nth-child(11),
                span:nth-child(12),
                span:nth-child(13),
                span:nth-child(14),
                span:nth-child(15) {
                    color: #14ff2bd2;
                }
            }

            .developerText {
                span {
                    opacity: 0;
                    transition: all .7s ease;
                }

                span.fade {
                    opacity: 1;
                }

                span:nth-child(1),
                span:nth-child(2),
                span:nth-child(3),
                span:nth-child(4),
                span:nth-child(5),
                span:nth-child(6),
                span:nth-child(7) {
                    color: transparent;
                }

                span:nth-child(8),
                span:nth-child(9),
                span:nth-child(10),
                span:nth-child(11),
                span:nth-child(12),
                span:nth-child(13),
                span:nth-child(14),
                span:nth-child(15),
                span:nth-child(16),
                span:nth-child(17),
                span:nth-child(18) {
                    color: #14ff2bd2;
                }

            }


            h3 {
                line-height: 4.8rem !important;
                font-size: 2.7rem !important;
                text-shadow: 0 2px 2px #010000;
            }

            .footer {
                ul {
                    gap: 10px;
                    bottom: 10px;
                    display: flex;
                    justify-content: space-evenly;
                    width: 100%;
                    left: 5px;

                    li {
                        a {
                            font-size: .9rem;
                        }
                    }
                }
            }

            h3:first-child {
                margin-left: 8px !important;
            }
        }
    }

    //about
    .about_section {
        &::before {
            top: 80%;
            left: 50%;
            font-size: 4rem;
        }

        .about_parent {
            grid-template-columns: repeat(1, 1fr);

            .intro {
                font-size: .9rem;
                font-weight: 300;
                line-height: 30px;
                letter-spacing: 5.5px;
                margin-bottom: 3rem;
                background: rgba(0, 0, 0, 0.55);
                text-shadow: 0 2px 2px #010000;
                color: #15E587;

                p {
                    text-align: left;
                    letter-spacing: 4px;
                }

                .leftText {
                    padding: 6px;
                }

                .rightText {
                    padding: 6px;
                }
            }

            .myskills {
                .skills_animate {
                    width: 280px;
                    height: 480px;

                    svg {
                        height: 430px;

                        rect {
                            width: 280px;
                            height: 430px;
                        }

                        a {
                            text {
                                font-size: .9rem;
                            }
                        }
                    }
                }
            }
        }

    }

    //work
    .work_section {
        height: 100vh;
        margin-top: 15px;

        &::before {
            content: 'PORTFOLIO';
            position: absolute;
            top: 80%;
            left: 25%;
            display: inline-block;
            transform: rotate(20deg);
            color: #5b6d65;
            font-size: 7rem;
            font-family: 'Black Ops One', 'cursive';
            transform: translate(-50%, -5%);
            opacity: .7;
            overflow: hidden;
        }

        //left slider
        .left_slide {
            height: 100%;
            width: 35%;
            position: absolute;
            left: 0;
            transition: transform .5s ease-in-out;

            div {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background: rgba(0, 0, 0, 0.55);
                box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
                backdrop-filter: blur(12.5px);
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
                border: 1px solid rgba(255, 255, 255, 0.18);
                border-right: none;
                color: #fff;

                h1 {
                    font-size: 2.2rem;
                    margin-top: 3rem;
                }

                .description {
                    text-align: center;
                    margin-top: 8rem;
                    line-height: 1.4rem;
                }

                a {
                    margin-top: 1rem;
                    font-size: 1rem;
                    color: #15E587;
                }
            }
        }

        //right slider
        .right_slide {
            position: absolute;
            height: 100%;
            left: 35%;
            width: 65%;
            transition: transform .5s ease-in-out;
            background: rgba(0, 0, 0, 0.55);
            box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
            backdrop-filter: blur(12.5px);
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;



            div {
                background: rgba(0, 0, 0, 0.55);
                border: 1px solid rgba(255, 255, 255, 0.18);
                box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
                backdrop-filter: blur(12.5px);
                background-repeat: no-repeat;
                background-position: center;
                background-size: 100%;
                width: 100%;
                height: 100%;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
            }
        }

        //slider btn
        .actions_button {
            button {
                position: absolute;
                left: 35%;
                top: 50%;
                z-index: 4;
                background-color: #15E587;
                color: #222;
                cursor: pointer;
                font-size: 1rem;
                padding: .9rem;
                border: none;

                &:hover {
                    color: #fff;
                }

                &:focus {
                    border: none;
                }
            }

            .down_button {
                transform: translateX(-100%);
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
            }

            .up_button {
                transform: translateY(-100%);
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
            }
        }


    }


    //preloader
    .btn-down {
        display: none !important;
    }

    .preloader {

        &::before {
            font-size: 2rem;
            font-weight: 400;
        }

        //counter
        .counter {
            font-size: 1.5rem;

            &::after {
                font-size: 1.3rem;
            }
        }
    }
}
